{% extends 'todo/layout.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <h2 class="text-center mb-4">Agregar tarea</h2>
                <form method="post">
                    {% csrf_token %}
                    
                    <!-- Aplica clases de Bootstrap a los campos del formulario -->
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary w-100">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}